language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

# faster builds on new travis setup not using sudo
sudo: false

git:
  submodules: false

# cache vendor dirs
cache:
  directories:
    - vendor
    - $HOME/.composer/cache

# script run before anything
before_script:
  - composer install
  - cp phpunit.xml.dist phpunit.xml

install:
  - travis_retry composer self-update && composer --version


script:
  vendor/bin/phpunit --configuration phpunit.xml --coverage-clover=coverage.clover


after_script:
  - |
    if [ $TRAVIS_PHP_VERSION = '5.6' ]; then
      travis_retry wget https://scrutinizer-ci.com/ocular.phar
      php ocular.phar code-coverage:upload --format=php-clover coverage.clover
    fi
